/**
 * @file
 * Styling for the page template
 *
 * @author griffinj
 */

.breadcrumb {

    width: 50%;
    float: left;
}

#breadcrumb-container {

    height: 36px;
}

#copyright-container {

    /* width: 12%; */
    float:right;
}

.footer-menu-item {

    padding: 0px 24px;
    /*
    float: left;
    */
    display:inline;

    text-align: center;
    border-right: 1px solid;
}

.footer-menu-item.last {

    border-right: none;
}

.footer-menu-divider {

    margin-left: 20%;
}

.main-container section.block-aggregator,
.main-container section.block-nodeblock {

    background-color: #ffffff;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;

    /* width: 360px; */
    width: 330px;

    float: left;
    padding: 8px;
    
}